@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.unreset-css {
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  ul {
    list-style-type: disc;
    padding-left: 1rem;
  }
  ol {
    list-style-type: decimal;
    padding-left: 1rem;
  }
  blockquote {
    padding-left: 1rem;
    border-left: 3px solid #999999;
  }
  code {
    font-size: 0.9rem;
    padding: 0.2rem 0.4rem;
    background-color: #f5f5f5;
    border-radius: 0.2rem;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
